body {
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #eceef1;
  font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
}
fieldset{
  border: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;

}
label{
  padding-bottom: 8px;
}
input{
  height: 30px;
}
input:focus{
  border: 1px solid #58a2EC;
}

.body-text {
  font-size: 0.75rem;
  color: #505050;
}

.body-text-link {
  color: #0077c5;
}
.boxes{

}

.center {
  justify-content: center;
}

.center-vertical {
  align-items: center;
}

.col {
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex: 1;
}

.feature {
  margin-left: 4px;
  margin-right: 4px;
  align-items: center;
}

.form-container {
  background: white;
  width: 25%;
  border: 1px solid #c7c7c7;
 padding: 42px;
}

.icon {
  color: blue;
  margin-right: 8px;
}


.lock-icon {
  margin-right: 8px;
}

.subheadertext {
  font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 1.25rem;
  margin: 0;
}

.title {
  margin: 0;
  font-size: 24px;
  color: #4c4c4c;
  text-align: center;
}

#logo {
  color: grey;
  margin: 0;
}

#navigation {
  align-items: center;
  justify-content: flex-end;
}

#signin-button {
  border-radius: 5px;
  border: 1px solid black;
  height: 36px;
  min-width: 90px;
  background-color: #0077c5;
  color: white;
}

